.header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}

.header img{
    width: 100px;
}
.header .nav{
    display: flex;
    flex: 0.8;
    justify-content: space-evenly;
    align-items: center;
}
.header .nav a{
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
color: #373737;
}
.header .nav a:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid #717CFF;
}
.header .nav .btn-contact{
    border: 2px solid #717CFF;
    background: #717CFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.header .nav .btn-contact a{
    text-decoration: none;
    color: inherit;
}
.header .nav .btn-contact a:hover{
    text-decoration: none;
    color: inherit;
}
.header .nav  .btn-contact:hover{
    color: #717CFF;
    background-color: white;
    cursor: pointer;   
}
.header .nav  .btn-contact:hover a{
    text-decoration: none;
    color: inherit;
    
}

@media only screen and (max-width: 480px) {
    .header{
        
    }
    .header .nav{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .header .nav{
        display: none;
    }
}
@media only screen and (max-width: 780px){
   
}